/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Italiana:wght@200;300;400;500;600;700&display=swap');


/* css to remove any default vertical white space from bootstrap classes */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*--------------------------------------------------------------------------------Navbar*/

.navalert-container {
    position: fixed;
    display:inline-flex;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navalert-container h1 {
    font-family: "Italiana", sans-serif;
    width: 30%;
    color: #ffe6e8;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(113, 6, 39);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

/*------hero image and header----*/

.hero-container {
    height: 100vh;
    width: 100%;
    background: url("../images/heroimage.webp") no-repeat center center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 16, 13, 0.5);
}

/*--------------------------------------------------------------------------------Footer*/

footer {
    background-color: #710627;
    color: #fafafa;
    min-height:120px;
    margin: 0;
}


.social-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size:13px;
    line-height: 7px;
    text-align: center;
    color: #ffe6e8;
    background-color: #710627;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #7d8491;
    color: #ffe6e8;
}

#footer-details {
    padding: 20px;
}



/*---------media query for mobile responsiveness in navbar*/

@media screen and (max-width: 446px) {

    .navalert-container h1 {
        font-family: "Italiana", sans-serif;
        font-size: 1.5rem;
    }
}