/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Italiana:wght@200;300;400;500;600;700&display=swap');


/* css to remove any default vertical white space from bootstrap classes */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*--------------------------------------------------------------------------------Navbar*/

.navalert-container {
    position: fixed;
    display: inline-flex;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navalert-container h1 {
    font-family: "Italiana", sans-serif;
    width: 30%;
    color: #ffe6e8;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(113, 6, 39);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.active {
    border-bottom: 1px solid #ffe6e8;
}

/*--------------------------------------------------------------------------------hero image and header----*/

.hero-container {
    height: 100vh;
    width: 100%;
    background: url("../images/heroimage.webp") no-repeat center center/cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 16, 13, 0.5);
}

/*--------------------------------------------------------------------------------Jumbotron*/

.jumbotron {
    background-color: rgba(10, 16, 13, 0.5);
    border-radius: 25px;
}

.jumbotron-header {
    color: #ffe6e8;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: "Italiana", sans-serif;
}

.block-divider--rose {
    width: 50%;
    height: 0.5rem;
    border: 0;
    border-radius: 25px;
    background-color: #ffe6e8;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #ffe6e8;
}

/*--------------------------------------------------------------------------------destination showcase*/

.container-wrapper--red {
    background-color: #710627;
    color: white;
}

.showcase-container {
    text-align: center;

}

.showcaseimage {
    border-radius: 25px;
    height: auto;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/*--------------------------------------------------------------------------------Footer*/

footer {
    background-color: #710627;
    color: #ffe6e8;
    min-height: 120px;
    margin: 0;
}


.social-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;


}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #ffe6e8;
    background-color: #710627;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #7d8491;
    color: #ffe6e8;
}

#footer-details {
    padding: 20px;
}



/*--------------------------------------------------------------------------------media query for mobile responsiveness in navbar*/

@media screen and (max-width: 446px) {

    .navalert-container h1 {
        font-family: "Italiana", sans-serif;
        font-size: 1.5rem;
    }
}

/*--------------------------------------------------------------------------------media query for mobile responsiveness in navbar*/

@media screen and (min-width: 1040px) {

/*--------------------------------------------------------------------------------showcase overlay*/    

.showcase-container-center {
    text-align: center;

}
.slide-container {
    position: relative;
    width:100%;
}

.image {
    display: block;
    border-radius: 25px;
    height: auto;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(10, 16, 13, 0.5);
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.slide-container:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .overlay-text {
    white-space: nowrap; 
    color: #ffe6e8;
    font-family: "Italiana", sans-serif;
    font-size: 3rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



}

